<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:cxf="http://cxf.apache.org/core"
	xmlns:p="http://cxf.apache.org/policy" xmlns:ss="http://www.springframework.org/schema/security" xmlns:jaxws="http://cxf.apache.org/jaxws"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd 
   	http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd 
   	http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd 
   	http://cxf.apache.org/policy http://cxf.apache.org/schemas/policy.xsd
   	http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
   	http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
   	http://cxf.apache.org/bindings/soap http://cxf.apache.org/schemas/configuration/soap.xsd 
   	http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd 
   	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
   	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
   	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

	<context:annotation-config/>

	<context:component-scan annotation-config="true" base-package="com.ibm.gbsc.firm.web,com.ibm.gbsc.auth.web" />
	
	<mvc:annotation-driven conversion-service="conversionService" />
	<!--===================== view resovler ===================== -->
	<!-- 加载tiles的配置文件 -->
	<bean id="viewResolver" abstract="true">
		<property name="attributes">
			<props>
				<prop key="appVersion">${appVersion}</prop>
				<prop key="buildTime">${buildTime}</prop>
				<prop key="webRscRoot">${url.rsc.root}</prop>
				<prop key="RscPage">/res.ftl</prop>
				<!--<prop key="fileDownloadRoot">${fileDownloadRoot}</prop>
				<prop key="fileuploadRoot">${fileuploadRoot}</prop>
				<prop key="cognosServiceRoot">${cognosServiceRoot}</prop>				
				<prop key="cognosAppRoot">${cognosAppRoot}</prop>
				<prop key="cognosCachePath">${cognosCachePath}</prop>
				<prop key="CUSTOMER_CODE">${customer_code}</prop> -->
			</props>
		</property>
	</bean>
	
	<!-- jstl jsp view support -->
	<bean id="jstlViewResolver" class="org.springframework.web.servlet.view.UrlBasedViewResolver" parent="viewResolver">
		<property name="order" value="2" />
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/WEB-INF/jsp" />
	</bean>
	<!-- freemarker view support -->
	<bean id="freemarkerResolver" parent="viewResolver" class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
		<!--<property name="cache" value="true"/> -->
		<property name="order" value="1" />
		<property name="viewNames">
			<array>
				<value>*.ftl</value>
			</array>
		</property>
		<!-- <property name="suffix" value=".ftl" /> -->
		<property name="requestContextAttribute" value="request" />
		<property name="exposeSpringMacroHelpers" value="true" />
		<property name="exposeRequestAttributes" value="true" />
		<property name="exposeSessionAttributes" value="true" />
		<property name="allowSessionOverride" value="true" />
		<property name="contentType" value="text/html;charset=utf-8" /><!--编码 -->
		<property name="viewClass" value="org.springframework.web.servlet.view.freemarker.FreeMarkerView" />
	</bean>

	<!-- freemarker的配置 -->
	<bean id="freemarkerConfigurer" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
		<property name="templateLoaderPaths">
			<list>
				<value>/WEB-INF/ftl</value>
				<value>classpath:ftl</value>
			</list>
		</property>
		<property name="defaultEncoding" value="utf-8" />
		<property name="freemarkerSettings">
			<props>
				<prop key="template_update_delay">10</prop>
				<prop key="locale">zh_CN</prop>
				<prop key="datetime_format">yyyy-MM-dd HH:mm:ss</prop>
				<prop key="date_format">yyyy-MM-dd</prop>
				<prop key="number_format">#.##</prop>
				<prop key="classic_compatible">true</prop> 
			</props>
		</property>
		<property name="freemarkerVariables">
			<map>
				<entry key="xml_escape" value-ref="fmXmlEscape" />
				<entry key="html_escape" value-ref="fmHtmlEscape" />
			</map>
		</property>
	</bean>

	<bean id="fmXmlEscape" class="freemarker.template.utility.XmlEscape" />
	<bean id="fmHtmlEscape" class="freemarker.template.utility.HtmlEscape" />
	<!-- ===================== view resolver end ====================== -->


	<!-- 文件上传支持 -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver" />

	<!-- 类型转换支持 -->
	<bean id="conversionService" class="org.springframework.context.support.ConversionServiceFactoryBean">
		<property name="converters">
			<list>
				<bean class="com.ibm.gbsc.web.springmvc.converter.StringDateConverter" />
				<bean class="com.ibm.gbsc.web.springmvc.converter.DateStringConverter" />
			</list>
		</property>
	</bean>
	<bean id="webPropertyConfig" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:conf/firm-app-web-settings_${envName}.properties</value>
			</list>
		</property>
		<property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE" />
	</bean>


	<!-- ====================== i18n =============================== -->
	<bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>classpath:i18n/messages</value>
				<value>classpath:i18n/report-show-messages</value>
				<value>classpath:i18n/auth-messages</value>
			</list>
		</property>
	</bean>

    <bean id="exceptionResolver" class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">  
          <property name="exceptionMappings">   
            <props>   
              <prop key="java.lang.exception">error/500</prop>  
           </props>   
         </property>   
        </bean>  	
	<bean id="localeResolver" class="org.springframework.web.servlet.i18n.CookieLocaleResolver">
		<property name="cookieName" value="clientlanguage"/>
	</bean>
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**/*.htm" />
			<bean id="localeChangeInterceptor" class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
				<property name="paramName" value="lang" />
			</bean>
		</mvc:interceptor>		
    </mvc:interceptors>
</beans>